<input type="hidden" id="accion" value="ListarEventos"/>




<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>{{usuario.nombre_sistema}}</title>

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />

<meta http-equiv="cache-control" content="max-age=0" />
<meta http-equiv="cache-control" content="no-cache" />
<meta http-equiv="expires" content="0" />
<meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
<meta http-equiv="pragma" content="no-cache" />
<meta http-equiv="Cache-Control" content="no-store" />

<!--
<link rel="icon" href="favicon.ico">
-->

<style>
#area{
	background-color:#efefef;
	width:90%;	
	height:100%;
	padding:20px;
	box-shadow: 0px 0px 8px #555555;	
}

.navbar-inverse .navbar-nav > li > a {
    color: white;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: #87BA41;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    color: #fff;
    background-color: #87BA41;
}

.navbar-inverse {
    background-color: #222;
    border-color: #2e74c2;
}

.mi-tabla th {
    background: #2e74c2;
    color: #fff;
    padding: 5px;
    border: 3px solid #fff;
    font-size: 12px;
    font-variant: small-caps;
}








.content-header {
  position: relative;
  padding: 0px 0px 0px 0px;
}
.content-header > h1 {
  margin: 0;
  font-size: 28px;
}
.content-header > h1 > small {
  font-size: 15px;
  display: inline-block;
  padding-left: 4px;
  font-weight: 300;
}
.content-header > .breadcrumb {
  float: right;
  background: transparent;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 12px;
  padding: 7px 5px;
  position: absolute;
  top: 0px;
  right: 10px;
  border-radius: 2px;
}
.content-header > .breadcrumb > li > a {
  color: #444;
  text-decoration: none;
  display: inline-block;
}
.content-header > .breadcrumb > li > a > .fa,
.content-header > .breadcrumb > li > a > .glyphicon,
.content-header > .breadcrumb > li > a > .ion {
  margin-right: 5px;
}
.content-header > .breadcrumb > li + li:before {
  content: '>\00a0';
}
@media (max-width: 991px) {
  .content-header > .breadcrumb {
    position: relative;
    margin-top: 5px;
    top: 0;
    right: 0;
    float: none;
    background: #d2d6de;
    padding-left: 10px;
  }
  .content-header > .breadcrumb li:before {
    color: #97a0b3;
  }
}

</style>


</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top" style="background-color: #2e74c2;">
        <div class="navbar-inner">
            <h1 style="color:#FFF; font-size:25px; padding-left:10px">CONTROL DE ESTACIONAMIENTO Ver. 1.0</h1>
        </div>
    </div>
    
    <section id="area" class="container-fluid">
    
        <br><br><br>
        
        <!--
        <nav class="navbar navbar-inverse" style="background-color: #2e74c2;">
            <!-- Brand and toggle get grouped for better mobile display --
            <div class="navbar-header">
                <span class="navbar-brand" style="color:white">Menu</span>
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            
            <!-- Collect the nav links, forms, and other content for toggling --
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            	
	          	<ul class="nav navbar-nav" id="menu"></ul>
              
              <ul class="nav navbar-nav navbar-right">
                <li><a href="#/login">Cerrar Sesión</a></li>
              </ul>
              
            </div>
        </nav>
    		-->
    
    
    
    		<!--
        <div>
      
            <div style="float:left">
            	<img src="img/Koala.jpg" alt="profile" width="40px" height="40px">
            </div>
                     
            <div style="padding-left:0px">
                <div class="top-datos_usuario">Usuario: {{usuario.nombre}}, {{usuario.rut}}</div>
                <div class="top-datos_usuario">Perfil: {{usuario.perfil}}, {{usuario.centro_operacion}}</div>                
            </div>
				</div>
				-->
				
				
				
				
				<section class="content-header">
		      <h1>
		        <div class="top-datos_usuario">Usuario: {{sesionUsuario.nombre}}, {{sesionUsuario.rut}}</div>
	          <!--<div class="top-datos_usuario">Perfil: {{sesionUsuario.perfil}}, {{sesionUsuario.centro_operacion}}</div>-->
	          <div class="top-datos_usuario">Perfil: {{sesionUsuario.perfil}}</div>
	          <div class="top-datos_usuario">Estacionamiento: {{CentroOperacion}}</div> 
		      </h1>
		      <ol class="breadcrumb">
		        <li><a href="#inicio"><i class="fa fa-home"></i> Inicio</a></li>
		        <li><a href="#administracion">Administración</a></li>
		        <li class="active">Estacionamientos</li>
		      </ol>
		    </section>
					    

	    
        
        
        
        
        
        
        
        
        
        
        <div id="line-dotted" style="padding-bottom:10px"></div>
        
        <!--<form role="form" name="formListadoUser" ng-model="formListadoUser">-->
        <form role="form" name="formListado" ng-model="formListado">
        
        <br><br>
           
	            <div class="panel panel-success" style="border-color: #cfcfd0; ">
	            	<div class="panel-heading" style="background-color:#076c05; color:#ffffff; text-align:center;"><b>Estacionamientos</b></div>
	              <div class="panel-body"> 
	                	
	                	<!--
	                	<div class="input-group" style="width:100%;float:right;position:relative; padding-top:20px">
				                 <input type="text" class="form-control" ng-change="filter()" placeholder="Busqueda..." ng-model="searchEventos">
				                 
				                <span class="input-group-addon">
				                    <span class="glyphicon glyphicon-search"></span>
				                </span>
				            </div>
				            -->
				            
				            <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                      <div class="input-group" style="width:100%;float:right;position:relative; padding-top:20px">
				                 <input type="text" class="form-control" ng-change="filter()" placeholder="Busqueda..." ng-model="searchEventos">
				                 
				                <span class="input-group-addon">
				                    <span class="glyphicon glyphicon-search"></span>
				                </span>
				            	</div>
                    </div>
	                	
	                	
	                	<div class="col-md-12 col-sm-12 col-xs-12 form-group">
		                <table id="tablaEventos" class="mi-tabla">
		                <thead>
		                    <tr>
		                    		<!--
		                    		<th style="width:40px; text-align:center;"></th>
		                    		-->
		                    		
		                    		<th ng-click="sortType = 'ID_EVENTO*1'; sortReverse = !sortReverse" ng-if="sesionUsuario.id_perfil == 1">
		                        	CODIGO
		                            <span ng-show="sortType == 'ID_EVENTO*1' && !sortReverse" class="headerSortDown"></span>
		                    				<span ng-show="sortType == 'ID_EVENTO*1' && sortReverse" class="headerSortUp"></span>
		                        </th>
		                        
		                        <th ng-click="sortType = 'ID_EVENTO*1'; sortReverse = !sortReverse" ng-if="sesionUsuario.id_perfil == 1">
		                        	ESTACIONAMIENTO
		                            <span ng-show="sortType == 'ID_EVENTO*1' && !sortReverse" class="headerSortDown"></span>
		                    				<span ng-show="sortType == 'ID_EVENTO*1' && sortReverse" class="headerSortUp"></span>
		                        </th>
		                        
		                        
		                        <th ng-click="sortType = 'FECHAHORA_EVENTO'; sortReverse = !sortReverse">
		                        	ESTADO
		                            <span ng-show="sortType == 'FECHAHORA_EVENTO' && !sortReverse" class="headerSortDown"></span>
		                    				<span ng-show="sortType == 'FECHAHORA_EVENTO' && sortReverse" class="headerSortUp"></span>
		                        </th>
		                        
		                        <!--
		                        <th ng-click="sortType = 'NOMBRE_TIPO_EVENTO'; sortReverse = !sortReverse">
		                        	HORA
		                            <span ng-show="sortType == 'NOMBRE_TIPO_EVENTO' && !sortReverse" class="headerSortDown"></span>
		                    				<span ng-show="sortType == 'NOMBRE_TIPO_EVENTO' && sortReverse" class="headerSortUp"></span>
		                        </th>
		                        -->
		                        
		                        <!--
		                        <th ng-click="sortType = 'NOMBRE_AFECTADO'; sortReverse = !sortReverse">
		                        	AFECTADO
		                            <span ng-show="sortType == 'NOMBRE_AFECTADO' && !sortReverse" class="headerSortDown"></span>
		                    				<span ng-show="sortType == 'NOMBRE_AFECTADO' && sortReverse" class="headerSortUp"></span>
		                        </th>
		                        
		                        <th ng-click="sortType = 'NRO. FILE'; sortReverse = !sortReverse">
		                        	NRO. FILE
		                            <span ng-show="sortType == 'NRO. FILE' && !sortReverse" class="headerSortDown"></span>
		                    				<span ng-show="sortType == 'NRO. FILE' && sortReverse" class="headerSortUp"></span>
		                        </th>
		                        
		                        <th ng-click="sortType = 'NOMBRE_ESTADO_EVENTO'; sortReverse = !sortReverse">
		                        	ESTADO
		                            <span ng-show="sortType == 'NOMBRE_ESTADO_EVENTO' && !sortReverse" class="headerSortDown"></span>
		                    				<span ng-show="sortType == 'NOMBRE_ESTADO_EVENTO' && sortReverse" class="headerSortUp"></span>
		                        </th>
		                        
		                        <th style="display:none;">REPORTA</th>
		                        -->
		                        
		                    </tr>
		                </thead>
		                                    
		                <tbody>
		                	<tr style="cursor:pointer" ng-style="(evento.ESTADO_EVENTO == 0 || evento.ESTADO_EVENTO == 2) && {color:'red'} || evento.ESTADO_EVENTO == 1 && {color:'black'} || evento.ESTADO_EVENTO == 3 && {color:'green'}" ng-repeat="evento in searched = (eventos | filter:search | orderBy : base :reverse) | beginning_data:(current_grid-1)*data_limit['label'] | limitTo:data_limit['label']">                
			
		                		<!--
		                		<td style="text-align:center;"><input type="checkbox" ng-model="evento.selected" /></td>
		                		-->
		                		<td ng-click="IraEditarEvento(evento.ID_EVENTO,evento.ID_CONTEXT_EVENTO)" data-head="ID" ng-if="sesionUsuario.id_perfil == 1">{{evento.ID_EVENTO}}<input type="hidden" name="id_evento" id="id_evento" ng-model="eventos.ID_EVENTO"></td>
		                    <td ng-click="IraEditarEvento(evento.ID_EVENTO,evento.ID_CONTEXT_EVENTO)" data-head="FECHA HORA">{{evento.FECHAHORA_EVENTO}} Hrs.</td> 
		                    <td ng-click="IraEditarEvento(evento.ID_EVENTO,evento.ID_CONTEXT_EVENTO)" data-head="TIPO EVENTO">{{evento.NOMBRE_TIPO_EVENTO | uppercase}}</td>
		                    
		                    <!--
		                    <td ng-click="IraEditarEvento(evento.ID_EVENTO,evento.ID_CONTEXT_EVENTO)" data-head="AFECTADO">{{evento.NOMBRE_AFECTADO | uppercase}}</td>    
		                    <td ng-click="IraEditarEvento(evento.ID_EVENTO,evento.ID_CONTEXT_EVENTO)" data-head="NRO. FILE">{{evento.FILES | uppercase}}</td> 
		                    <td ng-click="IraEditarEvento(evento.ID_EVENTO,evento.ID_CONTEXT_EVENTO)" data-head="ESTADO">{{evento.NOMBRE_ESTADO_EVENTO | uppercase}}</td>  
		                    
		                    <td style="display:none;" data-head="REPORTA">{{evento.NOMBRE_REPORTA | uppercase}}</td>                      
		                    -->
		                    
		                  </tr>
		                </tbody>
		            		</table>      
	                	</div>
	   
	            
	            <div class="col-md-12 col-sm-12 col-xs-12 form-group">
		            <div class="pull-right" style="font-weight:bold">Se encontraron {{searched.length}} de {{entire_user}} registros</div>	            
		            
		            <!--<div id="cant_reg" class="pull-right"></div>-->	            
		            <!--<div class="pull-right">Filtered {{filtered.length}}</div>-->	            
		            <!--Vista <select ng-model="viewby" ng-change="setItemsPerPage(viewby.label)" ng-options="opt as opt.label for opt in options"></select> registros.-->							
								<!--<pagination total-items="totalItems" ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages" items-per-page="itemsPerPage"></pagination>-->							
								
								<!--
								Vista <select ng-model="data_limit" ng-options="opt as opt.label for opt in options"></select> registros.
		            <pagination total-items="filter_data" ng-model="current_grid" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages" items-per-page="data_limit['label']"></pagination>	            	    				            
		            -->
		            
		            <div id="mensaje"></div>                                                           
             </div>
             
             
             
             
            </div>
            </div>
            
            
            
            
            
            
            
           
           
           
            <!--
            <div class="panel-heading" style="background-color:#0a1f87; color:#ffffff; text-align:center;"><b>Buscar Ticket</b></div>
        		-->
            
            
            
        </form>  
        
        <!--
        <p style="padding-top:3px">
			  	<label class="message">Desarrollado para Estacionamientos...., por Soluciones Informáticas JGB</label>
			  	<label class="message" style="margin: 0 0 0 0;">je.gacituab@gmail.com, +56987800185</label>
				</p>
        -->
         
    </section>
	
</body>
</html>